<div class="section-content imageStyleAbout">
    <div class="">
        <img src="/assets/img/Handling-All-Your-Recycling-Needs.jpg" />
    </div>
</div>
<div class="section-content one-line-section">
    <div class="container triggerAnimation animated bounceIn" data-animate="bounceIn">
        <h1 id="PageContent_Header">
            One Stop Shop
        </h1>
    </div>
</div>
<section class="section-default">
    <div class="container">
        <div class="section-heading">
            <h3 class="heaf-1-Recycling">JOIN THE RECYCLER'S VOICE</h3>
            <p>
                Published monthly, this newsletter features legislative news and cutting-edge research and innovations in the recycling industry. The Recycler’s Voice has increased its coverage of developments in the recycling industry with the growth of the recycling market.
            </p>
        </div>
        <div class="row Handling-sec">
            <div class="box-item col-md-4 text-center">
                <img src="/assets/img/about/icon-5.png" class="new-icon-1" />
                <h4 class="box-item-title recycling-pd mbr-fonts-style align-center display-5">RECYCLER’S VOICE HAS INCREASED</h4>
                <p class="box-item-text mbr-fonts-style align-center display-7">
                    The Recycler’s Voice has increased its coverage of developments in the recycling industry with the growth of the tire and rubber recycling market. We are advocates for increasing awareness about recycling and its impact on families and environment. We believe that everyone has a voice that deserves to be heard.
                </p>
            </div>
            <div class="box-item col-md-4 text-center">
                <img src="/assets/img/about/icon-6.png" class="new-icon-1" />
                <h4 class="box-item-title recycling-pd mbr-fonts-style align-center display-5">RESPONSIBLE RECYCLING</h4>
                <p class="box-item-text mbr-fonts-style align-center display-7">
                    With a primary mission to increase responsible recycling, each issue of Recycler’s Voice contains relevant industry news, views, insightful market trend analysis, and perceptive reporting of standards and laws affecting the global recycling market. The Recycler’s Voice provides recycling professionals with the most current recycling news and information. Published monthly, this newsletter features legislative news and cutting-edge research and innovations in the recycling industry.
                </p>
            </div>
            <div class="box-item col-md-4 text-center">
                <img src="/assets/img/about/icon-7.png" class="new-icon-1" />
                <h4 class="box-item-title recycling-pd mbr-fonts-style align-center display-5">GEAT SERVICE TOWARDS SOCIETY</h4>
                <p class="box-item-text mbr-fonts-style align-center display-7">
                    Joing recycler voice make you happy when you will get a selfless rewards from almighty. It's a great service to keep the near places clean. That way you are shinning star out of others.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="no-padding bg-black" style="background-image: url('/assets/img/about/about-img7.jpg');     background-size: cover;
    background-repeat: no-repeat;
    background-position: center;">
    <div class="width-100" style="background: rgba(27, 25, 25, 0.68);">
        <div class="container">
            <div class="padding-120px-tb md-padding-70px-tb sm-padding-50px-tb pull-left sm-padding-15px-lr">
                <div class=" ">
                    <div class=" ">
                        <div class="col-12 xs-no-padding-lr">
                            <div class="section-heading left white">
                                <h4>What is Lorem Ipsum?</h4>
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-6 col-sm-12 margin-20px-bottom xs-no-padding last-paragraph-no-margin">
                                <div class="padding-eight-new-tile-1 xs-padding-30px-all border-radius-5 height-100 pull-left">
                                    <div class="col-md-12 p-0">
                                        <div class="col-md-6">
                                            <div class=" margin-10px-bottom  font-size20 clr-fff head-nav-1">
                                                <span class="margin-10px-right xs-display-block ">01.</span> Lorem Ipsum
                                            </div>
                                            <p class=" clr-fff font-15">
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                                            </p>
                                        </div>
                                        <div class="col-md-6">
                                            <div class=" margin-10px-bottom  font-size20 clr-fff head-nav-1">
                                                <span class="margin-10px-right xs-display-block ">01.</span> Lorem Ipsum
                                            </div>
                                            <p class=" clr-fff font-15">
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-12 p-0 m-t-40">
                                        <div class="col-md-6">
                                            <div class=" margin-10px-bottom font-size20 clr-fff head-nav-1">
                                                <span class="margin-10px-right xs-display-block ">01.</span> Lorem Ipsum
                                            </div>
                                            <p class=" clr-fff font-15">
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                                            </p>
                                        </div>
                                        <div class="col-md-6">
                                            <div class=" margin-10px-bottom  font-size20 clr-fff head-nav-1">
                                                <span class="margin-10px-right xs-display-block ">01.</span> Lorem Ipsum
                                            </div>
                                            <p class=" clr-fff font-15">
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 margin-20px-bottom xs-no-padding last-paragraph-no-margin">
                                <div class="padding-eight-new-tile-1 xs-padding-30px-all border-radius-5 height-100 pull-left">
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            <h2 class="clr-fff text-capitalize">Lorem Ipsum</h2>
                                            <p class=" clr-fff font-15">
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                                            </p>
                                            <a class="butn theme margin-10px-top" href="javascript:void(0)"><span>Contact Us</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-default">
    <div class="container">
        <div class="section-heading">
            <h3 class="heaf-1-Recycling">One Stop Shop</h3>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500.
            </p>
        </div>
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-12 p-0">
                <div class="col-md-4">
                    <img src="/assets/img/flag/ico_metalService.jpg" />
                    <h4 class="team-section-1">
                        METAL RECYCLING
                    </h4>
                    <p class="team-section-1-text">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500.
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="/assets/img/flag/ico_cpuService.jpg" />
                    <h4 class="team-section-1">
                        CPU CHIP RECYCLING
                    </h4>
                    <p class="team-section-1-text">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500.
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="/assets/img/flag/ico_electronicService.jpg" />
                    <h4 class="team-section-1">
                        ELECTRONIC SCRAP RECYCLING
                    </h4>
                    <p class="team-section-1-text">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500.
                    </p>
                </div>
            </div>
            <div class="col-md-12 p-0 m-t-40">
                <div class="col-md-4">
                    <img src="/assets/img/flag/ico_gunrangeService.jpg" />
                    <h4 class="team-section-1">
                        GUN RANGE RECYCLING
                    </h4>
                    <p class="team-section-1-text">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500.
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="/assets/img/flag/ico_oilfilterService.jpg" />
                    <h4 class="team-section-1">
                        OIL FILTER RECYCLING
                    </h4>
                    <p class="team-section-1-text">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500.
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="/assets/img/flag/ico_plasticService.jpg" />
                    <h4 class="team-section-1">
                        PLASTIC RECYCLING
                    </h4>
                    <p class="team-section-1-text">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>