<div class="section-content imageStyleAbout" style="height:400px;">
  <img src="/assets/img/who-we-are-banner-2.jpg" style="height:100%" />
</div>
<div class="section-content one-line-section banner-bottom-heading-container">
  <div class="container triggerAnimation animated banner-bottom-heading bounceIn" data-animate="bounceIn">
      <h1 id="PageContent_Header">WHO WE ARE</h1>
  </div>
</div>
<section class="section-default">
    <div class="container">
      <div class="row">
          <div class="col-lg-5 col-md-12 sm-margin-50px-bottom xs-margin-30px-bottom">
              <img src="/assets/img/about/feature-01.jpg" alt="" class="border-radius-5 box-shadow-primary">
          </div>
          <div class="col-lg-7 col-md-12">
              <div class="padding-30px-left sm-no-padding default-h">
                  <h4 class="sm-margin-lr-auto xs-width-100 text-capitalize">Lorem Ipsum is simply dummy text.</h4>
                  <p>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                  </p>
                  <ul class="list-style-3">
                      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                  </ul>
                  <a class="butn theme margin-10px-top" routerLink="javascript:void(0)"><span>Read more</span></a>
              </div>
          </div>
      </div>      
    </div>
</section>
<section class="no-padding bg-black bg-img-responsive" style="background-image: url('/assets/img/about/about-img7.jpg');">
  <div class="container-fluid">
      <div class="row" style="background: rgba(27, 25, 25, 0.68);">
          <div class="col-md-12">
              <div class="padding-90px-tb md-padding-70px-tb sm-padding-50px-tb padding-eight-lr pull-left sm-padding-15px-lr">
                  <div class="row">
                      <div class="col-12 xs-no-padding-lr">
                          <div class="section-heading left white">
                              <h4>What is Lorem Ipsum?</h4>
                          </div>
                      </div>
                      <div class="col-md-12 p-0">
                          <div class="col-md-6 col-sm-12 margin-30px-bottom xs-no-padding last-paragraph-no-margin">
                              <div class="padding-eight-new-tile xs-padding-30px-all border-radius-5 bg-white height-100 pull-left">
                                  <div class="col-md-9">
                                      <div class="text-extra-dark-gray margin-10px-bottom alt-font font-size20 clr-site-green">
                                          <span class="margin-10px-right xs-display-block ">01.</span>Competitive Pricing
                                      </div>
                                      <p class="width-100 xs-width-100">
                                          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                                      </p>
                                  </div>
                                  <div class="col-md-3">
                                      <img src="/assets/img/Competitive-Pricing.png" />
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-6 col-sm-12 margin-30px-bottom xs-no-padding last-paragraph-no-margin">
                              <div class="padding-eight-new-tile xs-padding-30px-all border-radius-5 bg-white height-100 pull-left">
                                  <div class="col-md-9">
                                      <div class="text-extra-dark-gray margin-10px-bottom alt-font font-size20 clr-site-green">
                                          <span class="margin-10px-right xs-display-block">02.</span>Commercial Accounts
                                      </div>
                                      <p class="width-100 xs-width-100">
                                          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                                      </p>
                                  </div>
                                  <div class="col-md-3">
                                      <img src="/assets/img/COMMERCIAL-ACCOUNTS.png" />
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-12 p-0">
                          <div class="col-md-6 col-sm-12 xs-margin-20px-bottom xs-no-padding last-paragraph-no-margin">
                              <div class="padding-eight-new-tile xs-padding-30px-all border-radius-5 bg-white height-100 pull-left">
                                  <div class="col-md-9">
                                      <div class="text-extra-dark-gray margin-10px-bottom alt-font font-size20 clr-site-green">
                                          <span class="margin-10px-right xs-display-block">03.</span>Large volume walk-in purchases
                                      </div>
                                      <p class="width-100 xs-width-100">
                                          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                                      </p>
                                  </div>
                                  <div class="col-md-3">
                                      <img src="/assets/img/LARGE-VOLUME.png" />
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-6 col-sm-12 xs-no-padding last-paragraph-no-margin">
                              <div class="padding-eight-new-tile xs-padding-30px-all border-radius-5 bg-white height-100 pull-left">
                                  <div class="col-md-9">
                                      <div class="text-extra-dark-gray margin-10px-bottom alt-font font-size20 clr-site-green">
                                          <span class="margin-10px-right xs-display-block">04.</span>Roll-off containers available
                                      </div>
                                      <p class="width-100 xs-width-100">
                                          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                                      </p>
                                  </div>
                                  <div class="col-md-3">
                                      <img src="/assets/img/CONTAINERS-AVAILABLE.png" />
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<section class="section-default">
    <div class="container">
        <div class="section-heading">
            <h3>The Process</h3>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </p>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-xs-12 sm-margin-20px-bottom text-center">
                <div class="team-style3">
                    <div class="team-member-img">
                        <img src="/assets/img/about/Process-Gif.gif" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 