<section id="hero">
  <div class="hero-container">
      <div class="wow fadeIn">
          <div class="hero-logo">
              <img class="" src="../assets/img/welcomelogo.png" alt="Imperial">
          </div>
          <h1>Your One Stop Recycling Services</h1>
          <h2 style="color:#fff;margin-bottom:50px;font-size:28px;font-family: inherit;">Open 7 a.m.-7 p.m. 7 Days a week. 365 Days a Year. </h2>
          <div class="actions">
              <a routerLink="public/home" class=" btn-get-started">Get Started</a>
              <a href="Services/Services" class="btn-services">Our Services</a>
          </div>
      </div>
  </div>
</section>