.panel_header .title {
    margin-right: 20px;
    cursor: pointer;
    text-decoration: underline;
}

h2.title.pull-left.active-tab {
    font-weight: 800;
    color: #63a95f;
    text-decoration: none;
    cursor: pointer;
}

.one-line-section {
    padding: 0;
    text-align: center;
    background: #69ab66;
}

.banner-bottom-heading {
    padding: 0;
    margin-bottom: 0;
}

    .banner-bottom-heading h1 {
        padding: 0;
        margin: 0;
        color: white;
        font-size: 32px;
    }

.about-section {
    padding: 72px 0;
}

.page-main-content .container {
    margin-bottom: 0;
}

.page-main-content ul.bullet {
    padding-left: 10px;
    color: #262424;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 600;
}

.page-main-content .site-content {
    background-color: #ffffff;
    color: #333;
    line-height: 25px;
}

.page-main-content .p-b-50 {
    padding-bottom: 50px;
}

.page-main-content .p-t-50 {
    padding-top: 50px;
}

.page-main-content .main-bg {
    background: rgb(105, 171, 102);
}

.page-main-content .custom-padding {
    margin: 40px 0 !important;
    padding: 1px 15px;
}

.page-main-content .img-responsive {
    width: auto !important;
    max-height: 400px;
    margin-top: 24px;
}

.page-main-content #PageContent_Header,
.page-main-content #PageContent_Description {
    color: white;
}

.page-main-content .container-left-image .img-responsive {
    float: right;
}

.about-section #PageContent_Description {
    color: #262424;
}

/*comment to make banner aside slider*/
.tp-banner-container {
    width: 100%;
    position: relative;
    padding: 0;
}

.tp-banner {
    width: 100%;
    position: relative;
}

.tp-banner-fullscreen-container {
    width: 100%;
    position: relative;
    padding: 0;
}

#slider .tp-bannertimer {
    display: none;
}

.tp-banner ul {
    padding-left: 0;
}

.tp-banner li {
    list-style: none;
    position: relative;
}

.page-main-content .tp-banner li img.img-responsive {
    width: 100% !important;
    margin-top: 10px;
}

.page-main-content .tp-banner li:first-child img.img-responsive {
    margin-top: 0;
}
/*comment to make banner aside slider*/

.tp-caption {
    position: absolute;
    top: 35%;
    left: 10%;
}

    .tp-caption.medium_thin_grey {
        position: absolute;
        top: 45%;
        left: 10%;
    }

        .tp-caption.medium_thin_grey:last-child {
            position: absolute;
            top: 52%;
        }

    .tp-caption.tp-caption-contact-us {
        display: none;
    }

#EditPageContentModal input[type="text"],
#EditPageContentModal textarea {
    max-width: 100%;
}

.job-list {
    padding: 15px;
    display: inline-block;
    margin-bottom: 15px;
    background: #fff;
}


    .job-list .thumb {
        float: left;
    }

        .job-list .thumb img {
            border-radius: 4px;
            width: 100%;
            height: auto;
            margin-top: 15px;
        }

        .job-list .thumb img {
            border-radius: 4px;
            width: 100%;
            height: 180px;
            margin-top: 15px;
        }

    .job-list .job-list-content h4 {
        font-size: 24px;
        margin-bottom: 10px;
    }

        .job-list .job-list-content h4 a,
        .job-list .job-list-content h4 a span {
            color: #66a866 !important;
        }

.full-time {
    font-size: 12px;
    color: #575757;
    background: transparent !important;
    border-radius: 4px;
    border: 1px solid #5a5a5a;
    margin-left: 10px;
    padding: 4px 3px;
    position: absolute;
}

.job-list .job-list-content p {
    color: #2e2e2e !important;
    margin-bottom: 20px;
    text-align: justify;
}

.job-list .job-tag {
    border-top: 1px dotted #4f4f50;
    padding: 10px 0;
    line-height: 35px;
    margin-bottom: 35px;
}

.btn-common {
    background-color: #66a866;
    border: none;
    border-radius: 50px;
    text-transform: uppercase;
    overflow: hidden;
    position: relative;
    color: #fff;
}

.recycler-voice-container .col-md-5.awidth {
    margin-top: 36px !important;
}

.recycler-voice-container h2.SectionHeading {
    font-size: 32px !important;
}

.carrer-container .mbxss:first-child {
    margin-top: 40px;
}


.content-editable-container {
    position: absolute;
    right: 15px;
    z-index: 2;
    background: #555252;
    border-bottom-left-radius: 10px;
}

.recycler-voice-container .content-editable-container {
    right: 21px;
}

.content-editable-container a.fa-edit {
    padding-left: 12px;
}

.edit-site-content {
    float: right;
    color: white;
    text-decoration: none;
    padding: 10px;
    color: white;
    font-size: 28px;
}

    .edit-site-content:hover,
    .edit-site-content:focus {
        color: #6aab66;
    }

.admin-content-container {
    background: #302f32;
    margin-top: 20px;
    border: 1px solid lightgrey;
}

.page-main-content .page-title {
    width: auto;
}

.banner-slider-container .content-editable-container .edit-site-content-undo {
    top: 14px;
    z-index: 999;
    position: absolute;
    right: 0;
}


.container-left-image,
.container-right-image {
    position: relative !important;
}

.page-content-read-more {
    margin-bottom: 10px;
}

.about-us-page .color-black {
    color: #000 !important;
}

.about-us-page .SectionHeading {
    color: #fff !important;
}

.about-us-page ul.bullet {
    padding-left: 10px;
    color: #fff;
    font-family: sans-serif;
    font-size: 17px;
}

.content-editable-container.border-radius {
    border-radius: 4px;
}

.page-content-text-white {
    padding: 0px;
}

.one-line-section h1 {
    padding: 40px 0;
}

.position-relative {
    position: relative;
}

.section-link {
    /*as we have header on main site , so section should start from header bottom*/
    top: -112px;
    position: relative;
}

.slider-contact-button {
    font-weight: 600
}

.width-100 {
    width: 100% !important;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-t-100 {
    margin-top: 100px;
}

.m-r-16 {
    margin-right: 16px;
}

.green-box-spacing {
    margin: 60px 0px;
}

#EditPageContentModal .modal-body {
    padding: 15px;
}

#PageContent_Description p,
#PageContent_Description h1 {
    color: white;
}

.page-content-text #PageContent_Description p,
.page-content-text #PageContent_Description h1 {
    color: black;
}

#PageContent_Description p.color-black {
    color: black;
}

#EditPageContentModal .cke_bottom {
    display: none;
}

.page-content-text ul li,
.page-content-text ul li strong,
.page-content-text ul li p {
    font-family: sans-serif;
    margin: 0;
}

.section-page-text-with-image {
    position: relative;
}

.recycler-voice-main-container section {
    background-color: white;
    min-height: 380px;
}

    .recycler-voice-main-container section:last-child .site-content {
        padding: 50px 0px;
    }

.section-background-image {
    width: 100%;
    text-align: justify;
    padding: 100px 0px;
}

@media (max-width: 1200px) {
    .section-background-image {
        padding: 10px 0px;
        background-size: cover !important;
        margin-top: -22px;
    }

    .recycler-voice-main-container .SectionHeading {
        font-size: 18px;
    }

    .recycler-voice-main-container section .section-background-image {
        width: 100%;
        text-align: justify;
        padding: 10px 0px;
        background-size: cover !important;
        min-height: 380px;
    }
}

@media (max-width: 500px) {
    .recycler-voice-main-container section:last-child .site-content {
        padding: 10px 0px;
    }

    .recycler-voice-main-container .SectionHeading {
        font-size: 15px !important;
    }

    .one-line-section h1 {
        padding: 0 !important;
    }

    .section-background-image {
        background: #fff !important;
        min-height: 219px !important;
    }

    .padding-left-right-30 {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (width: 768px) {
    .padding-left-right-30 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .section-background-image {
        padding: 10px 0px;
        background-size: cover !important;
        margin-top: -22px;
    }

    .recycler-voice-main-container section .section-background-image {
        width: 100%;
        text-align: justify;
        padding: 10px 0px;
        background-size: cover !important;
        min-height: 380px;
    }
}

.recycler-voice-main-container .SectionHeading {
    font-size: 30px;
}

.section-page-text-with-image ul {
    margin: 0;
    padding: 0;
}

.admin-content-container .col-sm-12.coustom-padding {
    width: 50% !important;
}

.admin-content-container .col-sm-12.col-md-offset-6 {
    width: 46% !important;
}

.admin-content-container ul.bullet {
    font-weight: normal;
}

.content-editable-container .tooltip {
    font-size: 16px;
}

#pageContentLogModal .modal-dialog {
    width: 90%;
    padding: 0;
}

#pageContentLogModal .modal-content {
    height: 90%;
    border-radius: 0;
}

    #pageContentLogModal .modal-content td:nth-child(2) {
        width: 200px;
    }

    #pageContentLogModal .modal-content .date-column,
    #pageContentLogModal .modal-content .action-column {
        width: 100px;
    }

    #pageContentLogModal .modal-content td:last-child .btn {
        margin-bottom: 6px;
        width: 72px;
    }

.log-popup-image {
    max-height: 70px;
}

.contactTable .content-editable-container {
    position: relative;
    z-index: inherit;
}

.contactTable .edit-site-content {
    color: #424342;
    padding: 0 8px;
    z-index: inherit;
}

.admin-content-container .contact-section h2 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 18px;
    margin-bottom: 20px;
    font-family: inherit;
}

.admin-content-container .contact-table-section .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #bac3ba !important;
}

.admin-content-container .contact-table-section .table-striped > tbody > tr:nth-of-type(even) {
    background-color: #fff;
}

.admin-content-container .contact-table-section tr td span {
    padding-left: 50px;
    padding-right: 50px;
}

.padding-left-right-30 {
    padding-left: 100px;
    padding-right: 100px;
}

.floatright {
    float: right !important;
}

.admin-content-container .contact-table-section #PageContent_Header,
.admin-content-container .contact-table-section #PageContent_Description {
    color: black;
    font-size: 16px;
}

#pageContentLogModal .dataTables_wrapper.form-inline {
    display: block;
}

.page-content-log-email,
.page-content-log-print,
.page-content-log-email:hover,
.page-content-log-print:hover {
    color: #0aa14a;
    font-size: 24px;
    padding: 0 8px;
}

    .page-content-log-email:hover,
    .page-content-log-print:hover {
        text-decoration: none;
    }

#pageContentLogModal .export-button {
    position: fixed;
    top: 8px;
    right: 17px;
    left: auto;
}

    #pageContentLogModal .export-button .btn {
        padding: 7px 16px;
    }

#pageContentLogModal caption {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #777;
    text-align: left;
}

.log-email-container {
    width: 300px;
    right: 140px;
}

    .log-email-container .btn-default {
        color: #333 !important;
        background-color: #fff !important;
        border-color: #ccc !important;
        border: 1px solid red;
        padding: 7px !important;
    }

table.dt-rowReorder-float {
    position: absolute !important;
    opacity: 0.8;
    table-layout: static;
    outline: 2px solid #888;
    outline-offset: -2px;
}

tr.dt-rowReorder-moving {
    background-color: #32ab65 !important;
    outline: 2px solid #555;
    outline-offset: -2px;
}

body.dt-rowReorder-noOverflow {
    overflow-x: hidden;
}

table.dataTable td.reorder {
    text-align: center;
    cursor: move;
}

.btn-sort-page-content {
    color: #727f72;
}

.text-green {
    color: #0aa14a;
}

#pageContentLogModal del {
    background-color: #e66060;
}

#pageContentLogModal ins {
    background-color: #6ccf6c;
}