.toast-title {
    font-weight: bold;
}

.toast-message {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

    .toast-message a,
    .toast-message label {
        color: #ffffff;
    }

        .toast-message a:hover {
            color: #cccccc;
            text-decoration: none;
        }

.toast-top-full-width {
    top: 0;
    right: 0;
    width: 100%;
}

.toast-bottom-full-width {
    bottom: 0;
    right: 0;
    width: 100%;
}

.toast-top-left {
    top: 12px;
    left: 12px;
}

.toast-top-right {
    top: 12px;
    right: 12px;
}

.toast-bottom-right {
    right: 12px;
    bottom: 12px;
}

.toast-bottom-left {
    bottom: 12px;
    left: 12px;
}

#toast-container {
    position: fixed;
    z-index: 999999;
}

    #toast-container * {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    #toast-container > div {
        margin: 0 0 6px;
        padding: 15px 15px 15px 50px;
        width: 300px;
        -moz-border-radius: 3px 3px 3px 3px;
        -webkit-border-radius: 3px 3px 3px 3px;
        border-radius: 3px 3px 3px 3px;
        background-position: 15px center;
        background-repeat: no-repeat;
        -moz-box-shadow: 0 0 12px #999999;
        -webkit-box-shadow: 0 0 12px #999999;
        box-shadow: 0 0 12px #999999;
        color: #ffffff;
        opacity: 1;
        -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
        filter: alpha(opacity=80);
    }

    #toast-container > :hover {
        -moz-box-shadow: 0 0 12px #000000;
        -webkit-box-shadow: 0 0 12px #000000;
        box-shadow: 0 0 12px #000000;
        opacity: 1;
        -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        filter: alpha(opacity=100);
        cursor: pointer;
    }

    #toast-container > .toast-info {
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=") !important;
    }

    #toast-container > .toast-error {
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=") !important;
    }

    #toast-container > .toast-success {
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==") !important;
    }

    #toast-container > .toast-warning {
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=") !important;
    }

    #toast-container.toast-top-full-width > div,
    #toast-container.toast-bottom-full-width > div {
        width: 96%;
        margin: auto;
    }

.toast {
    background-color: #030303;
}

.toast-success {
    background-color: #51a351;
}

.toast-error {
    background-color: #bd362f;
}

.toast-info {
    background-color: #2f96b4;
}

.toast-warning {
    background-color: #f89406;
}

.searchbox .row {
    margin-right: 0px;
}

.padding-left-right-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.margin-left-0 {
    margin-left: 0 !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.display-none {
    display: none !important;
}

.thlabel {
    min-width: 100px;
    width: auto;
}

/***** Check Box Toggle *************/
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    /* Hide default HTML checkbox */
    .switch input {
        display: none;
    }

/* The slider */
.archieve .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .archieve .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

.archieve input:checked + .slider {
    background-color: #63a95f;
}

.archieve input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

.archieve input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.archieve .slider.round {
    border-radius: 34px;
}

    .archieve .slider.round:before {
        border-radius: 50%;
    }

input[type="file"] {
    display: block;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

#GoTopBtn {
    display: none;
    position: fixed;
    bottom: 40px;    
    right: 0;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    color: #63a95f;
    cursor: pointer;
    font-size: 45px;
}

    #GoTopBtn:hover {
        color: #1d825e;
    }

#ItemList tr th i, #ItemList tr td i {
    margin-right: -1px;
    margin-top: 0px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    color: #51a351;
}

    #ItemList tr th i:hover, #ItemList tr td i:hover {
        color: #1d825e;
    }

#ItemList tr th i.fa-info-circle, #ItemList tr td i.fa-info-circle {
    margin-top: -11px;
}

#ItemList tr th div.col-sm-12 {
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 4px;
    padding-right: 11px;
}

#ItemList tr td i.fa-unlock-alt {
    margin-right: 3px;
    float: right;
    cursor: pointer;
    color: #51a351;
}

#ItemList tr td {
    vertical-align: middle !important;
}

    #ItemList tr td i.fa-lock {
        margin-right: 3px;
        float: right;
        cursor: pointer;
        color: #ef291e;
    }

    #ItemList tr td i.fa-unlock-alt:hover {
        color: #ef291e;
    }

    #ItemList tr td i.fa-lock:hover {
        color: #51a351;
    }

#ItemList .tooltip_header .tooltip, #ItemList .thlabel .tooltip {
    width: 200px !important;
}
#ItemList th div.thlabel i.fa.fa-lock, #ItemList th div.thlabel i.fa.fa-unlock-alt {
    margin-left: -8px;
    padding-right: 2px;
}

.width50 {
    width: 50% !important;
}

.width48 {
    width: 48% !important;
}

.width45 {
    width: 45% !important;
}

.width18 {
    width: 18% !important;
}

#ItemList tr th i.plus_icon, #ItemList tr th i.min_icon {
    position: absolute;
    left: 6px;
    top: 9px;
    font-size: 12px !important;
}

#ItemList tr td i.plus_icon, #ItemList tr td i.min_icon {
    position: absolute;
    margin: 9px 0 0 2px;
    font-size: 12px !important;
}

#ItemList input.decimal {
    padding-left: 10.5px;
}

#ItemList tr td .changeTxt {
    padding-left: 6px;
}

.link_orig:hover {
    color: #51a351 !important;
}

.link_orig {
    color: #337ab7 !important;
    text-decoration: underline !important;
}

.error {
    color: #ef291e;
}

.margin-left-10 {
    margin-left: 10px !important;
}

.label-popUp {
    width: 30%;
    text-align: left !important;
}

.editicon {
    margin: 0;
    text-align: right;
    cursor: pointer;
    color: #51a351;
}

    .editicon:hover {
        color: #206c51;
    }

.icon_green {
    cursor: pointer;
    color: #51a351;
}

    .icon_green:hover {
        color: #206c51;
    }

    .icon_red {
    cursor: pointer;
    color: #ff0000 !important;
}

    .icon_red:hover {
        color: #ef291e;
    }
.icon-size{
    font-size:18px;
}

.deleteicon {
     margin: 0;
    text-align: right;
    cursor: pointer;
    color: #bd362f;
}
.deleteicon:hover {
        color: #ef291e;
    }

.margin0 {
    margin: 0 !important;
}

.padding0 {
    padding: 0 !important;
}

.untrash-green {
    background-image: url(../img/un-trash-green.png);
    background-position: 3px 0px;
    padding-left: 15px;
    background-size: 25%;
    background-repeat: no-repeat;
}


.untrash-black {
     background-image: url(../img/un-trash.png);
    background-position: -1px 0px;
    padding-left: 9px;
    background-size: 25%;
    background-repeat: no-repeat;
}

    .untrash-black:hover {
        background-image: url(../img/un-trash-green.png);
    }
/****** END *******/

/*Responsive Design*/
@media all and (max-width: 240px) {
    #toast-container > div {
        padding: 8px 8px 8px 50px;
        width: 108px;
    }
}

@media all and (min-width: 241px) and (max-width: 320px) {
    #toast-container > div {
        padding: 8px 8px 8px 50px;
        width: 128px;
    }
}

@media all and (min-width: 321px) and (max-width: 480px) {
    #toast-container > div {
        padding: 8px 8px 8px 50px;
        width: 192px;
    }
}

@media all and (min-width: 481px) and (max-width: 768px) {
    #toast-container > div {
        padding: 15px 15px 15px 50px;
        width: 300px;
    }
}
