<div class="carrer-page">  
<div class="section-content imageStyleAbout">
    <div class=""><img src="/assets/img/career_header.jpg"></div>
</div>
<div id="PageContent_1" class="section-content one-line-section banner-bottom-heading-container">        
    <div id="Section_2" class="section-link"></div>
    <div class="container triggerAnimation animated banner-bottom-heading" data-animate="bounceIn">     
        <div class="content-editable-container">

        </div>     
        <div id="PageContent_Description">
            <h1>JOB OPENINGS</h1>
        </div>
    </div>
</div>
<section class="job-browse section jobsection">  
    <div class="container carrer-container page-content-text-with-image-container">
      <div class="row">
        <div id="PageContent_1" class="col-md-10 col-sm-12 col-md-offset-1 mbxss">
          <div id="Section_2" class="section-link"></div>
          <div class="job-list row" style="display:flex;flex-wrap:wrap;">
              <div class="thumb col-lg-4 w-xs-100">
                  <a href="javascript:void(0)"><img class="img-responsive" src="/assets/img/Programmer.jpg" alt=""></a>
              </div>
              <div class="job-list-content col-lg-8">
                  <h4>
                      <a href="javascript:void(0)">
                          <span id="PageContent_Header"> Programmer</span>
                      </a><span class="full-time cft">Full-Time</span>
                  </h4>
                  <p id="PageContent_Description" class="color-black">
                      We are actively seeking a programmer who is familiar with PHP. New World has a multitude of programs that we are in need of programmers to assist us in designing this software to improve our corporate structure. The programs that will be worked on are varied and capricious by nature. Knowledge of Alpha software is a plus.
                  </p>
                  <div class="page-content-read-more">
                      <a href="javascript:void(0)" class="btn btn-success btn-block">Read More</a>
                  </div>
                  <div class="job-tag">
                      <div class="pull-left">
                          <div class="meta-tag">
                              <span><i class="ti-location-pin"></i>Fort worth/Texas</span>
                          </div>
                      </div>
                      <div class="pull-right">
                          <div class="btn btn-common btn-rm">View Details</div>
                          <div class="btn btn-common btn-rm">Apply</div>
                      </div>
                  </div>
              </div>
              <hr class="jobhrStyle" />
          </div>
        </div>
    </div>
  </div>
</section>
</div>