<div id="content">
    <div class="section-content imageStyleAbout">
        <img alt="" src="/assets/img/services.png">
    </div>
    <div id="content">
        <div class="section-content one-line-section">
            <div class="container triggerAnimation animated" data-animate="bounceIn">
                <h1>Services</h1>
            </div>
        </div>
        <div class="container services-section">
            <div class="col-md-12">
                <div class=" col-md-6">
                    <div class="uppersection text-center services-box-common">
                        <span>
                            <a routerLink="/public/services/1"> <img src="/assets/img/sell-to-us.png" style="width: 13%; height: 75px;" /></a>
                        </span>
                        <div class="text-center">
                            <h3><a routerLink="/public/services/1" style=" color: #fff; ">Sell To Us</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="uppersection text-center" >
                        <span>                            
                            <a routerLink="/public/my-account"><img src="/assets/img/buying-from-us.png" style="width: 13%; height: 75px;" /></a>
                        </span>
                        <div class="text-center">
                            <h3><a routerLink="/public/my-account" class="color-w">Buying From Us</a></h3>
                        </div>
                    </div>
                </div>
                <div class=" col-md-6">
                    <div class="uppersection text-center">
                        <span>                            
                            <a href="javascript:void(0)" onclick="EquipmentServices(3)">  <img src="/assets/img/equipment.png" style="width: 13%; height: 75px;" /></a>
                        </span>
                        <div class="text-center">
                            <h3><a href="javascript:void(0)" onclick="EquipmentServices(3)" class="color-w">Equipment Service</a></h3>
                        </div>
                    </div>
                </div>
                <div class=" col-md-6">
                    <div class="uppersection text-center">
                        <span >                            
                            <a href="javascript:void(0)" onclick="ServiceAvailability(12)">  <img src="/assets/img/tire-disposal.png" style="width: 13%; height: 75px;" /></a>
                        </span>
                        <div class="text-center">
                            <h3><a href="javascript:void(0)" onclick="ServiceAvailability(12)" class="color-w">Tire Disposal service</a></h3>
                        </div>
                    </div>
                </div>
                <div class=" col-md-6">
                    <div class="uppersection text-center">
                        <span>                            
                            <a href="javascript:void(0)" onclick="ContainerPickUpByGlobal(2,3,'','','','')">  <img src="/assets/img/buying-from-us.png" style="width: 13%; height: 75px;" /></a>
                        </span>
                        <div class="text-center">
                            <h3><a href="javascript:void(0)" onclick="ContainerPickUpByGlobal(2,3,'','','','')" class="color-w">Container service</a></h3>
                        </div>
                    </div>
                </div>

                <div class=" col-md-6">
                    <div class="uppersection text-center">
                        <span>                            
                            <a href="/public/freeze-items"><img src="/assets/img/freez-your-item.png" style="width: 13%; height: 75px;" /></a>
                        </span>
                        <div class="text-center">
                            <h3><a href="/public/freeze-items" class="color-w">Freeze Your Item Price Today</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>