<div class="section-content imageStyleAbout">
  <div class="">
      <img src="/assets/img/compliance.jpg" />
  </div>
</div>
<div class="section-content one-line-section">
  <div class="container triggerAnimation animated bounceIn" data-animate="bounceIn">
      <h1 id="PageContent_Header">
          global GReen united 3801 inc
      </h1>
  </div>
</div>
<section class="section-default section-index relative bg-fff relative z-index-1 p-t-33 p-b-50">
  <div class="container relative z-index-1 container-enterprise">
      <div class="col-md-12 text-center margin-bottom-15">
          <div class="services-text clearfix">
              <div class="title"> <h2 class="font-weight-6 margin-bottom-20 text-capitalize">Why Choose Global Green</h2> </div>
              <div class="separator-center m-b-80"></div>

          </div>
      </div>
      <div class="col-md-12 slide-sec-main">
          <div class="col-md-4 slide-sec-1">
              <div>
                  <h4 class="Choose-head-main">
                      What is Lorem Ipsum?
                  </h4>
                  <div>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                  </div>
              </div>
          </div>
          <div class="col-md-8 slide-sec-3">
              <div id="image-gallery-16eff578d088944f395790144fa99cc7" class="sh-image-gallery sh-image-gallery-noverlay sh-image-gallery-nozoom sh-image-gallery-container sh-image-gallery-dots1 btn-none-left-right" data-autoplay="5000" data-columns="2">
                  <div class="sh-image-gallery-item">
                      <div class="sh-gallery-item">
                          <div class="post-meta-thumb text-center">
                              <a href="#" class="slide-sec-2">
                                  <img src="/assets/img/about/Choose-slider-img-1.jpg" />
                                  <h4 class="Choose-head">
                                      Lorem Ipsum
                                  </h4>
                                  <div>
                                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                                  </div>
                              </a>
                          </div>
                      </div>
                  </div>
                  <div class="sh-image-gallery-item">
                      <div class="sh-gallery-item">
                          <div class="post-meta-thumb text-center">
                              <a href="#" class="slide-sec-2">
                                  <img src="/assets/img/about/Choose-slider-img-2.jpg" />
                                  <h4 class="Choose-head">
                                      Lorem Ipsum
                                  </h4>
                                  <div>
                                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                                  </div>
                              </a>
                          </div>
                      </div>
                  </div>
                  <div class="sh-image-gallery-item">
                      <div class="sh-gallery-item">
                          <div class="post-meta-thumb text-center">
                              <a href="#" class="slide-sec-2">
                                  <img src="/assets/img/about/Choose-slider-img-1.jpg" />
                                  <h4 class="Choose-head">
                                      Lorem Ipsum
                                  </h4>
                                  <div>
                                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                                  </div>
                              </a>
                          </div>
                      </div>
                  </div>
                  <div class="sh-image-gallery-item">
                      <div class="sh-gallery-item">
                          <div class="post-meta-thumb text-center">
                              <a href="#" class="slide-sec-2">
                                  <img src="/assets/img/about/Choose-slider-img-2.jpg" />
                                  <h4 class="Choose-head">
                                      Lorem Ipsum
                                  </h4>
                                  <div>
                                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                                  </div>
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>    
  </div>
</section>
<div class="bg-img-responsive" style="background-image: url('/assets/img/about/Service_image.jpg');">
  <div class="choose-section-new-1">
      <div class="container">
          <div class="row">
              <div class="col-md-12 choose-section-new-p">
                  <h2 class="choose-sec-head">Lorem Ipsum Lorem Ipsum</h2>
                  <p class="choose-sec-text">
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been <br /> the industry's standard dummy text ever since the 1500s.
                  </p>
              </div>
              <div class="col-md-4 text-center ">
                  <i class="fa fa-headphones choose-section-new-tl-icon"></i>
                  <div class="choose-section-new-tl-h">
                      Lorem Ipsum
                  </div>
                  <p class="choose-section-new-tl-text">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer accumsan diam at nibh tempus, in semper nisi ullamcorper. Praesent sed gravida lacus. Suspendisse potenti.
                  </p>
              </div>
              <div class="col-md-4 text-center ">
                  <i class="fa fa-puzzle-piece choose-section-new-tl-icon"></i>
                  <div class="choose-section-new-tl-h">
                      Lorem Ipsum
                  </div>
                  <p class="choose-section-new-tl-text">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer accumsan diam at nibh tempus, in semper nisi ullamcorper. Praesent sed gravida lacus. Suspendisse potenti.
                  </p>
              </div>
              <div class="col-md-4 text-center ">
                  <i class="fa fa-connectdevelop choose-section-new-tl-icon"></i>
                  <div class="choose-section-new-tl-h">
                      Lorem Ipsum
                  </div>
                  <p class="choose-section-new-tl-text">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer accumsan diam at nibh tempus, in semper nisi ullamcorper. Praesent sed gravida lacus. Suspendisse potenti.
                  </p>
              </div>
          </div>
      </div>
  </div>
</div>
<section class="choose-section-new-2">
  <div class="container">
      <div class="row">
          <div class="col-md-12 choose-section-new-p-3">
              <h2 class="choose-sec-head-2">Lorem Ipsum Lorem Ipsum</h2>
              <p class="choose-sec-text-2">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br /> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
              </p>
          </div>
          <div class="col-md-12 big-plus">
              <a href="#" class="col-md-6 ">
                  <h2>
                      471
                  </h2>
                  <div>
                      Finished projects
                  </div>
              </a>
              <a href="/services/digital-marketing-services" class="col-md-6">
                  <h2>
                      1066
                  </h2>
                  <div>
                      Happy customers
                  </div>
              </a>
          </div>
          <div class="col-md-12 big-plus">
              <a href="#" class="col-md-6 ">
                  <h2>
                      72
                  </h2>
                  <div>
                      Updates made
                  </div>
              </a>
              <a href="/services/digital-marketing-services" class="col-md-6">
                  <h2>
                      47
                  </h2>
                  <div>
                      Locations
                  </div>
              </a>
          </div>
      </div>
  </div>
</section>
<section class="choose-section-new-3">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h2 class="choose-sec-head-2">Get in touch</h2>
              <p class="choose-sec-text-3">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br /> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
              </p>
          </div>
          <div class="col-md-6 col-md-offset-3 m-t-40">
              <div class="col-md-6">
                  <input type="text" placeholder="Name">
              </div>
              <div class="col-md-6">
                  <input type="text" placeholder="E-mail">
              </div>
              <div class="col-md-12">
                  <textarea placeholder="Message text" class="textarea-2"></textarea>

              </div>
              <div class="col-md-12">
                  <a class="butn theme margin-10px-top width-100" href="javascript:void(0)"><span>Submit</span></a>
              </div>
          </div>
      </div>
  </div>
</section>
